.swissPairing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.swissSetupForm{
  display: flex;
  min-width: 50%;
  min-height: 320px;
  flex-direction: column;
  /* border: 2px #191b21 solid; */
  align-items: center;
  justify-content: space-evenly;
  border-radius: 3px;
  background-color: #191b21;
  padding: 5%;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  max-width: 60%;
}
.swissTextField {
  /* background-color: black; */
  width: 60%;
}
.swissSetupForm h2 {
  margin-top: 0;
}
.swiss-player {
  padding: 10px;
  background: #272a33;
}

.pairings-container {
  margin-top: 20px;
  padding: 20px;
  background: #15171d;
  color: #f3f3f3;
  text-align: center;
  outline: 2px solid #3166c7;
  width: 70%;
}
.MuiButton-containedPrimary.create-pairings {
  color: #fff;
  background-color: #3f51b5;
  margin: 0 auto;
  display: block;
  margin-bottom: 35px;
  font-size: .90rem;
  margin-top: 20px;
}

.swissPairing .MuiButton-outlined.round-progress {
  display: block;
  margin: 20px auto 0;
  font-size: 17px;
}
.MuiSvgIcon-root.won {
  color: #08ca08;
}
.MuiSvgIcon-root.lost {
    color: #555967;
}
.swiss-player.bye-player {
  background: #bdbdbd;
}
.game-details {
  text-align: center;
}
.game-details h2 {
  border-bottom: 2px solid #eb772a;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.game-details h4, .game-details p {
  margin: 8px 0;
}
.MuiButton-outlinedSizeSmall.submit-score {
  vertical-align: bottom;
  margin-left: 5px;
}
form.input-score .MuiTextField-root {
  max-width: 63px;
}
.swiss-players .MuiTableCell-root {
  border-bottom: 1px solid rgb(76 76 76);
}

@media only screen and (max-width: 800px) {
  .swissSetupForm {
    width: 80%
  } 
  .swissTextField {
    width: 90%;
  }
}